.imgchange{
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Luckiest Guy', cursive;}
div{width: 100%; height: 100vh; display: flex; justify-content: center; flex-direction: column; align-items: center; background: #2ed573}

#footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}